<div>
  <ul>
    <li>
      <a href="" routerLink="/progress-bar"> Multi value progress bar </a>
    </li>
    <li>
      <a href="" routerLink="/file-upload"> File upload </a>
    </li>
    <li>
      <a href="" routerLink="/hashtag-chip"> Hashtag chip </a>
    </li>
    <li>
      <a href="" routerLink="/download-pdf"> Download PDF as a snapshot </a>
    </li>
    <li>
      <a href="" routerLink="/file-upload-demo"> Upload file demo (Drag/Drop) </a>
    </li>
    <li>
      <a href="" routerLink="/common-card"> Common card with clock </a>
    </li>
  </ul>
</div>

<ng-container>
  <router-outlet></router-outlet>
</ng-container>